[
  {schat, [
    {port, 8000}
  ]},

  {kernel, [
    {logger, [
      {handler, console, logger_std_h, #{
        level => all,
        config => #{
          type => {file, "log/console.log"}
        }
      }},
      {handler, error, logger_std_h, #{
        level => error,
        config => #{
          type => {file, "log/error.log"}
        }
      }}
    ]}
  ]}
].
